.main , .PEA{
    background-color: #f5f5f5;
    height: 90vh;
}
.heading {
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding: 160px 0;
}
.heading2 {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
#footer ul {
    position:fixed;
    bottom: 0px;
    
}
#about {
    font-size: 18px;
    line-height: 2;
    font-family:'Verdana, Geneva, Tahoma, sans-serif';
    font-weight: bold;
    text-align: justify;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.bg-image {
    background-image: url('./images/earth-g10d0bcba8_1920.jpg');
  background-size: cover;
  height: 100vh;
  color: #f5f5f5;
  overflow:auto
}
.icon {
    cursor: pointer;
}
Form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.login, .register {
    background-color: #f5f5f5;
    height: 90vh;
    display: flex;
}

.login-form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40vw;
    margin-top: 12vh;
    padding: 10px;
    border-radius: 20px;
    height: 50vh;
}

.register-form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40vw;
    margin-top: 5vh;
    padding: 10px;
    border-radius: 20px;
    height: 82vh;
}