@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.contact,
.PEA {
  background-color: #f5f5f5;
  height: 90vh;
}

/* Vertospace heading home page */
.heading {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  padding: 160px 0;
}

/* Search bar home page */
.search-bar {
  width: 40vw;
  background-color: khaki;
}
/* 
.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  scale: 1.5;
} */

/* Search - REsults */

.search-results {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

.search-results p {
  margin-left: 20px;
}
.heading2 {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}
#footer ul {
  position: fixed;
  bottom: 0px;
}
#about {
  font-size: 18px;
  line-height: 2;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  font-weight: bold;
  text-align: justify;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.bg-image {
  background-image: url("./images/home.jpg");
  background-size: cover;
  height: 92vh;
  color: #f5f5f5;
  overflow: auto;
}
.icon {
  cursor: pointer;
}
Form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.login,
.register {
  background-color: #f5f5f5;
  height: 90vh;
  display: flex;
}

.login-form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40vw;
  margin-top: 12vh;
  padding: 10px;
  border-radius: 20px;
  height: 50vh;
}

.register-form {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40vw;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  height: 82vh;
}

/* 
*
*
*
*
*/

.about {
  background-color: #f5f5f5;
  height: 90vh;
  display: flex;
  gap: 12vw;
  margin-left: 2%;
  margin-right: 2%;
}

.lcol {
  height: 90vh;
  width: 30vw;
}

.lcol img {
  height: 100%;
  width: 100%;
}

.rcol {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 40vw;
  line-height: 30px;
  background-color: #d4edf4;
  border-radius: 30px;
  padding: 15px;
}

.about-content:hover {
  scale: 105%;
  transition: 1s;
}

/* PEA PAGE */
.PEA h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding: 50px;
}

.PEA Card {
  width: 30px;
  background-color: red;;
}

/* Profile  */

.profile {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0px;
}

/* Profile button */
.profile-btn {
  border: none;
  background-color: white;
}

/* Profile picture */
.profile-pic {
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Profile Tab */
.profile-tab {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  gap: 10px;
  width: 15vw;
  text-align: center;
}

.profile-tab button {
  border: none;
  margin: 0px 10px;
}

.profile-tab::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}

/* UPLOAD _ DOWNLOAD PAGE */

.upload-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* background-color: #f5f5f5; */
  height: 90vh;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h1000v1000H0z%22%2F%3E%3Crect x=%22751%22 y=%22827%22 width=%225%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.6128 .79102 -.78542 .61801 867.023 -212.107)%22%2F%3E%3Crect x=%22268%22 y=%22787%22 width=%227%22 height=%2211%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.43212 .80059 -.92346 .60328 777.307 78.053)%22%2F%3E%3Crect x=%22819%22 y=%22951%22 width=%229%22 height=%2217%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.83576 .57674 -.5403 -.82366 1883.157 1361.417)%22%2F%3E%3Crect x=%22885%22 y=%22390%22 width=%229%22 height=%2217%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.95501 .54386 -.31038 .87036 174.242 -226.741)%22%2F%3E%3Crect x=%22891%22 y=%22215%22 width=%228%22 height=%2221%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.44814 .8834 -.8627 -.5308 1411.518 -222.305)%22%2F%3E%3Crect x=%2267%22 y=%22596%22 width=%227%22 height=%2214%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.72668 .80276 -.67796 .62718 406.544 181.917)%22%2F%3E%3Crect x=%22682%22 y=%22389%22 width=%227%22 height=%2214%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.41637 .93874 -.89703 -.37928 1356.357 -205.886)%22%2F%3E%3Crect x=%22503%22 y=%22629%22 width=%225%22 height=%229%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.31769 .78993 -1.01772 -.61716 1515.305 660.51)%22%2F%3E%3Crect x=%22681%22 y=%22744%22 width=%229%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.59112 1.0457 -.89417 .1099 1121.894 173.028)%22%2F%3E%3Crect x=%22711%22 y=%22531%22 width=%228%22 height=%2214%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.38609 .97106 -.91177 -.29688 1510.388 -122.657)%22%2F%3E%3Crect x=%22590%22 y=%22310%22 width=%227%22 height=%2218%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.77092 .66618 -.61425 .76635 377.466 -425.494)%22%2F%3E%3Crect x=%22652%22 y=%22379%22 width=%227%22 height=%2220%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.97607 .64289 -.39225 .76616 298.273 -341.89)%22%2F%3E%3Crect x=%22814%22 y=%22938%22 width=%227%22 height=%2211%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.6826 .90211 -.7607 -.45965 2007.695 510.223)%22%2F%3E%3Crect x=%22913%22 y=%22684%22 width=%228%22 height=%2217%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.91809 .47473 -.3046 .93172 149.318 -107.691)%22%2F%3E%3Crect x=%22377%22 y=%22457%22 width=%228%22 height=%2212%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.95731 .37604 -.28988 -.93073 792.433 783.989)%22%2F%3E%3Crect x=%22234%22 y=%22101%22 width=%225%22 height=%229%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.29476 .88223 -.9633 -.50936 413.129 -3.44)%22%2F%3E%3Crect x=%22240%22 y=%22917%22 width=%226%22 height=%2215%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.99985 .22998 -.01745 .99614 16.172 -.663)%22%2F%3E%3Crect x=%22437%22 y=%2277%22 width=%226%22 height=%2211%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.7497 .30269 -.8516 -.99004 905.238 148.894)%22%2F%3E%3Crect x=%22686%22 y=%22776%22 width=%229%22 height=%2214%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.98085 .67072 -.3626 .77157 444.403 -137.498)%22%2F%3E%3Crect x=%22619%22 y=%2287%22 width=%227%22 height=%2217%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.5788 .73147 -.82737 -.6821 1075.226 -305.562)%22%2F%3E%3Crect x=%22881%22 y=%22571%22 width=%228%22 height=%2219%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.72898 .7264 -.67266 .70149 718.99 -593.963)%22%2F%3E%3Crect x=%2271%22 y=%22719%22 width=%225%22 height=%226%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.86368 .66099 -.51934 .76038 423.297 133.45)%22%2F%3E%3Crect x=%22331%22 y=%22544%22 width=%229%22 height=%2217%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.67295 .81013 -.74545 -.5886 882.842 623.482)%22%2F%3E%3Crect x=%22247%22 y=%22102%22 width=%229%22 height=%2219%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.64946 .64633 -.7732 .77026 168.424 -163.37)%22%2F%3E%3Crect x=%22243%22 y=%22554%22 width=%226%22 height=%2217%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.91154 .60411 -.44566 .80169 333.827 -15.538)%22%2F%3E%3Crect x=%22759%22 y=%22263%22 width=%227%22 height=%2219%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.98041 .12204 -.20944 -.9939 1599.819 410.326)%22%2F%3E%3Crect x=%22649%22 y=%22925%22 width=%229%22 height=%2213%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.79088 .32314 -.66058 -.99451 1884.651 1846.513)%22%2F%3E%3Crect x=%22674%22 y=%22313%22 width=%228%22 height=%2215%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.97257 .25945 -.22462 .96828 77.743 -118.333)%22%2F%3E%3Crect x=%22358%22 y=%22576%22 width=%226%22 height=%227%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.13259 .49756 .03344 .89763 160.993 -36.95)%22%2F%3E%3Crect x=%22406%22 y=%22358%22 width=%226%22 height=%2213%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.95931 .66923 -.42882 .74326 286.568 -172.995)%22%2F%3E%3Crect x=%22654%22 y=%22973%22 width=%226%22 height=%229%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.87721 .40698 -.48684 -.9141 1826.424 1580.703)%22%2F%3E%3Crect x=%22503%22 y=%22947%22 width=%225%22 height=%225%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.40048 .88119 -.91284 -.48845 1763.316 905.776)%22%2F%3E%3Crect x=%22102%22 y=%22537%22 width=%225%22 height=%2213%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.04325 1.03046 -.9712 -.01799 527.399 471.648)%22%2F%3E%3Crect x=%22828%22 y=%22696%22 width=%226%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.87228 .6019 -.50383 -.79876 1836.1 742.642)%22%2F%3E%3Crect x=%22213%22 y=%22535%22 width=%227%22 height=%2218%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.20791 .94149 -.97815 -.38039 793.625 585.273)%22%2F%3E%3Crect x=%22660%22 y=%22962%22 width=%227%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.21069 .99695 -.98091 -.10478 1573.55 453.798)%22%2F%3E%3Crect x=%22328%22 y=%22263%22 width=%229%22 height=%2226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.98237 .27669 -.18822 .96493 101.35 -111.411)%22%2F%3E%3Crect x=%22451%22 y=%22208%22 width=%229%22 height=%229%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.94625 .3439 -.308 -.94487 963.476 208.761)%22%2F%3E%3Crect x=%22632%22 y=%22822%22 width=%227%22 height=%229%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.3452 .69994 -1.05852 -.7506 2027.28 1148.77)%22%2F%3E%3Crect x=%22576%22 y=%22758%22 width=%229%22 height=%2226%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.90479 .32736 -.42703 -.95073 1585.885 1252.964)%22%2F%3E%3Crect x=%22404%22 y=%22154%22 width=%229%22 height=%2223%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-1.01872 -.10822 -.45167 -1.0296 978.24 489.563)%22%2F%3E%3Crect x=%22417%22 y=%22460%22 width=%226%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.79223 .53652 -.59602 .85862 390.946 -226.403)%22%2F%3E%3Crect x=%22123%22 y=%22366%22 width=%229%22 height=%2222%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.75607 .70808 -.6562 -.70808 424.178 560.347)%22%2F%3E%3Crect x=%22979%22 y=%22724%22 width=%229%22 height=%2213%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.07026 .98496 -1.00288 -.17367 1850.62 -94.17)%22%2F%3E%3Crect x=%22371%22 y=%22631%22 width=%226%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.79835 .85129 -.67583 .53194 660.082 12.257)%22%2F%3E%3Crect x=%22513%22 y=%22616%22 width=%229%22 height=%2214%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.62728 .94454 -.80528 .38162 757.883 -2.954)%22%2F%3E%3Crect x=%22878%22 y=%22232%22 width=%225%22 height=%229%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.84457 .43864 -.54815 .89934 248.492 -393.163)%22%2F%3E%3Crect x=%22301%22 y=%22882%22 width=%227%22 height=%2215%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.13054 .43965 .14991 .94283 144.292 4.292)%22%2F%3E%3Crect x=%22637%22 y=%22903%22 width=%226%22 height=%226%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.37546 .95762 -.92947 -.29277 1691.927 524.836)%22%2F%3E%3Crect x=%22319%22 y=%22533%22 width=%227%22 height=%227%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.83355 .65152 -.50552 .80456 248.41 -18.849)%22%2F%3E%3Crect x=%22809%22 y=%22721%22 width=%227%22 height=%2220%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.5882 .7356 -.77124 -.7356 1718.702 904.029)%22%2F%3E%3Crect x=%22387%22 y=%22598%22 width=%225%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.62345 .95157 -.799 .38446 665.207 90.764)%22%2F%3E%3Crect x=%22679%22 y=%22778%22 width=%225%22 height=%229%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.64208 .54597 -.84289 -.84072 2016.68 1115.94)%22%2F%3E%3Crect x=%22435%22 y=%22338%22 width=%225%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.91568 .23289 -.3277 -1.00874 885.736 703.334)%22%2F%3E%3Crect x=%22713%22 y=%22725%22 width=%226%22 height=%228%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.97893 .29349 -.20534 .95996 282.273 -243.589)%22%2F%3E%3Crect x=%2214%22 y=%22767%22 width=%229%22 height=%2224%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.30886 .94027 -.95111 -.34223 819.56 1027.555)%22%2F%3E%3Crect x=%22337%22 y=%22223%22 width=%229%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.05164 1.00921 -.99267 -.03524 536.201 -60.098)%22%2F%3E%3Crect x=%22613%22 y=%22314%22 width=%227%22 height=%2215%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.82904 .42789 -.5592 .9176 285.179 -334.946)%22%2F%3E%3Crect x=%22652%22 y=%22154%22 width=%228%22 height=%2216%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.0633 .50435 -.06452 .90987 30.66 -128.145)%22%2F%3E%3Crect x=%22215%22 y=%22167%22 width=%228%22 height=%2220%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.93758 .60182 -.41744 .79864 128.42 -96.156)%22%2F%3E%3Crect x=%22800%22 y=%22553%22 width=%228%22 height=%2221%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.89406 .7546 -.52017 -.67945 1756.673 197.9)%22%2F%3E%3Crect x=%22323%22 y=%22252%22 width=%229%22 height=%2218%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.57702 1.02158 -.82426 .27373 360.18 -32.245)%22%2F%3E%3Crect x=%22771%22 y=%2250%22 width=%226%22 height=%228%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.37056 .90374 -.92577 .44079 513.309 -587.95)%22%2F%3E%3Crect x=%2216%22 y=%22438%22 width=%228%22 height=%2220%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.7702 .5922 -.62853 .8151 206.751 73.45)%22%2F%3E%3Crect x=%22194%22 y=%22448%22 width=%227%22 height=%229%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.20653 .95864 -.98 -.29309 751.222 381.98)%22%2F%3E%3Crect x=%22189%22 y=%2289%22 width=%229%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.468 .80276 -.88006 -.62718 364.055 34.42)%22%2F%3E%3Crect x=%22614%22 y=%22105%22 width=%226%22 height=%2214%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.76776 .52146 -.63994 -.86785 1166.744 -210.263)%22%2F%3E%3Crect x=%2263%22 y=%22428%22 width=%227%22 height=%2215%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.9474 .07131 -.47388 -1.01985 423.275 889.037)%22%2F%3E%3Crect x=%22835%22 y=%22187%22 width=%227%22 height=%229%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.76393 .34433 -.68559 -1 1643.928 383)%22%2F%3E%3Crect x=%22231%22 y=%22544%22 width=%226%22 height=%228%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.8558 .64633 -.5273 .77026 453.197 -49.94)%22%2F%3E%3Crect x=%22831%22 y=%22362%22 width=%228%22 height=%2213%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.98423 -.25437 -.01629 -1.02023 1629.306 1228.163)%22%2F%3E%3Crect x=%22527%22 y=%22273%22 width=%226%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.68444 .54154 -.70748 -.90128 1064.527 409.943)%22%2F%3E%3Crect x=%22741%22 y=%22308%22 width=%226%22 height=%2214%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.08737 .98769 -.99863 -.15643 1145.597 -370.563)%22%2F%3E%3Crect x=%22927%22 y=%22526%22 width=%226%22 height=%2213%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.42958 1.0489 -.92334 .07335 1065.915 -179.86)%22%2F%3E%3Crect x=%22759%22 y=%22284%22 width=%229%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.91323 .42914 -.37182 .92029 121.561 -170.024)%22%2F%3E%3Crect x=%22665%22 y=%22226%22 width=%227%22 height=%2218%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.4183 1.00692 -.94916 .10583 665.91 -357.116)%22%2F%3E%3Crect x=%22870%22 y=%22770%22 width=%226%22 height=%2214%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.79876 .25298 -.74928 -1.01463 2393.518 1611.423)%22%2F%3E%3Crect x=%22149%22 y=%22338%22 width=%225%22 height=%2211%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.96727 -.09067 -.02667 -1.03634 245.916 756.661)%22%2F%3E%3Crect x=%22487%22 y=%22356%22 width=%225%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.43715 .89441 -.89532 .45572 621.456 -283.884)%22%2F%3E%3Crect x=%22589%22 y=%22536%22 width=%227%22 height=%2214%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.46823 .89318 -.88102 -.4551 1374.604 219.477)%22%2F%3E%3Crect x=%22782%22 y=%22406%22 width=%227%22 height=%2216%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.63276 .93415 -.81484 -.37742 1569.585 -259.968)%22%2F%3E%3Crect x=%22627%22 y=%22192%22 width=%227%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.6958 .95444 -.78064 .36637 398.478 -342.615)%22%2F%3E%3Crect x=%22303%22 y=%22732%22 width=%227%22 height=%2211%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.5321 .94149 -.84717 .38039 1003.535 114.356)%22%2F%3E%3Crect x=%22851%22 y=%22964%22 width=%227%22 height=%2215%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.01365 .32963 -.0899 .9573 172.508 -104.848)%22%2F%3E%3Crect x=%22307%22 y=%2243%22 width=%225%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.97558 .03516 -.50314 -1.0069 663.51 119.437)%22%2F%3E%3Crect x=%22296%22 y=%22102%22 width=%227%22 height=%2213%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.37846 .96725 -.93245 -.25917 492.122 -137.375)%22%2F%3E%3Crect x=%2249%22 y=%22474%22 width=%225%22 height=%2213%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.6626 .69988 -.7427 -.72474 534.657 786.372)%22%2F%3E%3Crect x=%22835%22 y=%22956%22 width=%229%22 height=%2222%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.29494 .98784 -.9656 .15646 1646.163 1.068)%22%2F%3E%3Crect x=%22385%22 y=%22198%22 width=%225%22 height=%2214%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.25011 .88308 -.9994 -.46954 738.188 -34.174)%22%2F%3E%3Crect x=%22504%22 y=%2283%22 width=%225%22 height=%2210%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.07058 .30573 .23087 1 0 0)%22%2F%3E%3Crect x=%22754%22 y=%2276%22 width=%226%22 height=%2212%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.30254 .85442 -.98134 -.5339 1091.079 -428.066)%22%2F%3E%3Crect x=%22460%22 y=%22677%22 width=%229%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.6984 .79575 -.71102 .62171 778.289 -177.106)%22%2F%3E%3Crect x=%22565%22 y=%22669%22 width=%229%22 height=%2223%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.87449 .48488 -.48473 -.87475 1385.33 1009.569)%22%2F%3E%3Crect x=%22488%22 y=%22485%22 width=%226%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.7071 .59511 -.7071 .8191 490.646 -281.236)%22%2F%3E%3Crect x=%22666%22 y=%22867%22 width=%228%22 height=%2219%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.19045 .974 -.9792 -.24285 1623.22 495.39)%22%2F%3E%3Crect x=%22264%22 y=%22814%22 width=%229%22 height=%2213%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.98657 .1046 -.17435 -.99513 761.7 1599.543)%22%2F%3E%3Crect x=%22825%22 y=%22611%22 width=%225%22 height=%2212%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.01376 .15665 .01691 .98904 59.266 -79.5)%22%2F%3E%3Crect x=%22695%22 y=%22687%22 width=%225%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.78592 .2818 -.80785 -.98274 2091.733 1319.794)%22%2F%3E%3Crect x=%22449%22 y=%22918%22 width=%228%22 height=%2216%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.04793 .96256 -1.05924 -.40858 1580.74 1006.803)%22%2F%3E%3Crect x=%22549%22 y=%22955%22 width=%228%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.95357 .0535 -.49452 -1.02094 1803.475 2027.047)%22%2F%3E%3Crect x=%22214%22 y=%22647%22 width=%226%22 height=%2212%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.5869 .94235 -.76214 .48015 485.045 209.692)%22%2F%3E%3Crect x=%22261%22 y=%22441%22 width=%226%22 height=%228%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.99804 -.01755 -.19282 1.00536 42.469 -25.498)%22%2F%3E%3Crect x=%22707%22 y=%22879%22 width=%228%22 height=%2219%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.6719 .86933 -.76239 .50191 1147.6 -237.748)%22%2F%3E%3Crect x=%22589%22 y=%22743%22 width=%226%22 height=%227%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.48212 .9563 -.88905 .31072 1166.472 -113.8)%22%2F%3E%3Crect x=%22296%22 y=%22135%22 width=%226%22 height=%2215%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.62271 .76038 -.77382 .66099 194.694 -142.33)%22%2F%3E%3Crect x=%22496%22 y=%22675%22 width=%225%22 height=%225%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.98403 -.07131 -.04995 -1.01985 954.334 1509.958)%22%2F%3E%3Crect x=%22227%22 y=%2298%22 width=%227%22 height=%2210%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.95597 -.21861 .07682 -1.02849 411.572 334.218)%22%2F%3E%3Crect x=%22355%22 y=%22540%22 width=%228%22 height=%2218%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.96246 .32562 -.2759 .94566 202.893 -93.332)%22%2F%3E%3Crect x=%2234%22 y=%2281%22 width=%226%22 height=%229%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.666 .69988 -.73916 .72474 79.8 -6.904)%22%2F%3E%3Crect x=%22276%22 y=%22853%22 width=%227%22 height=%2210%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.63766 1.01168 -.8645 .19665 1040.21 476.197)%22%2F%3E%3Crect x=%22403%22 y=%2226%22 width=%225%22 height=%2213%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.45729 .81965 -.89983 -.57393 623.409 -295.376)%22%2F%3E%3Crect x=%22843%22 y=%22740%22 width=%225%22 height=%226%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.22869 .99695 -.97902 .10478 1512.491 -236.899)%22%2F%3E%3Crect x=%22687%22 y=%22390%22 width=%227%22 height=%2215%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.89646 .43944 -.43761 .90099 214.275 -215.793)%22%2F%3E%3Crect x=%22121%22 y=%22518%22 width=%228%22 height=%2219%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.01855 .40451 -.07253 .95298 75.171 7.734)%22%2F%3E%3Crect x=%22774%22 y=%22102%22 width=%228%22 height=%2217%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.90163 .51535 -.43986 -.85769 1523.704 -222.838)%22%2F%3E%3Crect x=%22587%22 y=%22685%22 width=%226%22 height=%2214%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(.8176 .75517 -.61347 .65646 699.534 -228.423)%22%2F%3E%3Crect x=%22195%22 y=%22149%22 width=%225%22 height=%227%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(1.02188 .22499 -.01848 .97452 28.81 -37.101)%22%2F%3E%3Crect x=%22483%22 y=%22856%22 width=%229%22 height=%2212%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.53327 .65114 -.85322 -.83342 1500.92 1430.836)%22%2F%3E%3Crect x=%22817%22 y=%22831%22 width=%226%22 height=%2212%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.80017 .46947 -.62516 .88295 539.535 -286.994)%22%2F%3E%3Crect x=%22296%22 y=%22286%22 width=%226%22 height=%228%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.38645 .94893 -.91316 -.34538 701.062 64.41)%22%2F%3E%3Crect x=%22250%22 y=%22314%22 width=%228%22 height=%2218%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.1407 .98354 -1.04665 -.20906 643.52 167.404)%22%2F%3E%3Crect x=%22676%22 y=%22432%22 width=%225%22 height=%2214%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(1.03777 .39946 -.05855 .94107 82.044 -100.944)%22%2F%3E%3Crect x=%22608%22 y=%22856%22 width=%226%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.53816 .7318 -.86465 -.68241 1878.681 980.934)%22%2F%3E%3Crect x=%2252%22 y=%22123%22 width=%229%22 height=%2221%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.09173 .98652 -.9925 -.22776 229.895 99.218)%22%2F%3E%3Crect x=%22507%22 y=%22401%22 width=%227%22 height=%229%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.22227 .95529 -.94784 -.42532 949.297 246.37)%22%2F%3E%3Crect x=%22855%22 y=%22288%22 width=%226%22 height=%227%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.883 .27631 -.5397 -.9636 1852.657 275.32)%22%2F%3E%3Crect x=%22382%22 y=%22524%22 width=%225%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.15838 1 -1.01945 -.12278 954.74 257.225)%22%2F%3E%3Crect x=%22490%22 y=%22328%22 width=%229%22 height=%2217%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-1.009 .29349 -.10702 -.95996 998.638 471.133)%22%2F%3E%3Crect x=%22133%22 y=%22788%22 width=%225%22 height=%2214%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.7071 .5308 -.7071 -.8834 793.463 1459.17)%22%2F%3E%3Crect x=%22388%22 y=%22589%22 width=%225%22 height=%228%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.8088 .42288 -.63027 -.90686 1198.006 979.272)%22%2F%3E%3Crect x=%22889%22 y=%22590%22 width=%226%22 height=%2214%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.98631 .15665 -.15636 .98904 71.82 -86.442)%22%2F%3E%3Crect x=%22711%22 y=%22625%22 width=%225%22 height=%226%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.44584 .98776 -.91763 .20995 1048.208 -108.343)%22%2F%3E%3Crect x=%22665%22 y=%22909%22 width=%226%22 height=%2213%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.35865 .9141 -.93429 .40698 1268.189 -91.042)%22%2F%3E%3Crect x=%22553%22 y=%22121%22 width=%226%22 height=%2215%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.21629 .88295 -1.01757 -.46947 843.862 -302.092)%22%2F%3E%3Crect x=%22557%22 y=%22362%22 width=%228%22 height=%2222%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.47575 .8272 -.87577 -.57921 1227.9 46.143)%22%2F%3E%3Crect x=%22379%22 y=%22464%22 width=%225%22 height=%229%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(.97437 .25898 -.22495 .96651 115.167 -69.79)%22%2F%3E%3Crect x=%22786%22 y=%22319%22 width=%225%22 height=%2211%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.29366 .87971 -.96028 -.52859 1340.506 -15.59)%22%2F%3E%3Crect x=%22821%22 y=%22616%22 width=%227%22 height=%2213%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.39017 .94913 -.91925 -.32681 1728.035 -28.752)%22%2F%3E%3Crect x=%22181%22 y=%22115%22 width=%229%22 height=%2216%22 fill=%22%23FAEEE0%22 rx=%220%22 transform=%22matrix(-.4096 .97758 -.9208 -.24374 369.488 -51.138)%22%2F%3E%3Crect x=%22327%22 y=%22408%22 width=%225%22 height=%2210%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(1.01543 .48015 -.08979 .94235 59.588 -20.943)%22%2F%3E%3Crect x=%22921%22 y=%22163%22 width=%225%22 height=%2212%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-1.00479 -.30922 -.05255 -1.0114 1868.804 943.478)%22%2F%3E%3Crect x=%22137%22 y=%2272%22 width=%228%22 height=%2223%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.91016 .81714 -.48675 .6617 64.624 -41.156)%22%2F%3E%3Crect x=%22938%22 y=%22350%22 width=%227%22 height=%2210%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.66713 .8516 -.741 .55304 567.357 -477.107)%22%2F%3E%3Crect x=%22799%22 y=%22353%22 width=%229%22 height=%2219%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.85707 .68712 -.53626 -.73685 1668.096 -21.152)%22%2F%3E%3Crect x=%2227%22 y=%22893%22 width=%226%22 height=%2217%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(.55886 .81965 -.82871 .57393 713.02 360.564)%22%2F%3E%3Crect x=%22806%22 y=%22206%22 width=%225%22 height=%2211%22 fill=%22%23F9CF93%22 rx=%220%22 transform=%22matrix(-.89018 .1099 -.629 -1.0457 1762.043 606.503)%22%2F%3E%3Crect x=%22184%22 y=%22250%22 width=%228%22 height=%2216%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(.3881 .87939 -.91308 .50771 362.396 -71.464)%22%2F%3E%3Crect x=%2222%22 y=%22101%22 width=%229%22 height=%2225%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(1.07207 .47996 -.06724 .90267 33.226 3.96)%22%2F%3E%3Crect x=%2219%22 y=%22147%22 width=%226%22 height=%2211%22 fill=%22%23F9E4C8%22 rx=%220%22 transform=%22matrix(-.62932 .67747 -.77715 -.7524 154.36 255.822)%22%2F%3E%3Crect x=%22471%22 y=%22371%22 width=%225%22 height=%2211%22 fill=%22%23DBD0C0%22 rx=%220%22 transform=%22matrix(-.0349 .98938 -.9994 -.32147 866.296 164.834)%22%2F%3E%3C%2Fsvg%3E");
}

.upload-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 80px;
}